version: 1

type: "single"
worker:
  container: "tensorflow/tensorflow:latest-gpu"
  command: "pip install gradient-sdk && python scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py --num_gpus=1 --model=resnet50 --variable_update=replicated --data_format=NCHW --batch_size=32 --optimizer=momentum"
  machine-type: "V100"